<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<newsy>
    <menu>
        <nazwa>AKTUALNOŚCI</nazwa>
        <co_laduje>podstrona_newsy</co_laduje>
        <tlo>tlo_nowe1</tlo>
        <szerokosc>705</szerokosc>
        <wysokosc>424</wysokosc>
    </menu>
    <menu>
        <nazwa>O NAS</nazwa>
        <co_laduje>podstrona_onas</co_laduje>
        <tlo>tlo_nowe2</tlo>
        <szerokosc>700</szerokosc>
        <wysokosc>450</wysokosc>
    </menu>
    <menu>
        <nazwa>SPRZĘT</nazwa>
        <co_laduje>podstrona_sprzet</co_laduje>
        <tlo>tlo_nowe3</tlo>
        <szerokosc>270</szerokosc>
        <wysokosc>400</wysokosc>
    </menu>
    <menu>
        <nazwa>OFERTA</nazwa>
        <co_laduje>podstrona_oferta</co_laduje>
        <tlo>tlo_nowe4</tlo>
        <szerokosc>800</szerokosc>
        <wysokosc>400</wysokosc>
    </menu>
    <menu>
        <nazwa>HISTORIA</nazwa>
        <co_laduje>podstrona_historia</co_laduje>
        <tlo>tlo_nowe5</tlo>
        <szerokosc>800</szerokosc>
        <wysokosc>400</wysokosc>
    </menu>
    <menu>
        <nazwa>GALERIA</nazwa>
        <co_laduje>podstrona_galeria</co_laduje>
        <tlo>tlo_nowe6</tlo>
        <szerokosc>100</szerokosc>
        <wysokosc>330</wysokosc>
    </menu>
    <menu>
        <nazwa>REPERTUAR</nazwa>
        <co_laduje>podstrona_repertuar</co_laduje>
        <tlo>tlo_nowe7</tlo>
        <szerokosc>600</szerokosc>
        <wysokosc>350</wysokosc>
    </menu>
    <menu>
        <nazwa>FILMY</nazwa>
        <co_laduje>podstrona_filmy</co_laduje>
        <tlo>tlo_nowe8</tlo>
        <szerokosc>800</szerokosc>
        <wysokosc>400</wysokosc>
    </menu>
    <menu>
        <nazwa>KONTAKT</nazwa>
        <co_laduje>podstrona_kontakt</co_laduje>
        <tlo>tlo_nowe9</tlo>
        <szerokosc>780</szerokosc>
        <wysokosc>360</wysokosc>
    </menu>
    <menu>
        <nazwa>LINKI</nazwa>
        <co_laduje>podstrona_linki</co_laduje>
        <tlo>tlo_nowe9</tlo>
        <szerokosc>420</szerokosc>
        <wysokosc>390</wysokosc>
    </menu>
</newsy>